body{
    background-color: rgb(33, 129, 207);
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}